$color-primary: hsl(219, 100%, 10%);
$color-secondary: hsl(223, 89%, 68%);
$color-header: hsl(60, 28%, 92%);
$color-pale: hsl(227, 100%, 98%);
$color-white: hsl(0, 0%, 100%);

$font-family-base: 'Roboto', sans-serif;

$body-bg: hsl(60, 28%, 92%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family-base;
  background-color: $body-bg;
  line-height: 1;
}
.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url('/img/coronavirus.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  .jumbo-text {
    color: $color-header;
  }
}
.navbar {
  background-color: $color-primary;
}
