$color-primary: hsl(219, 100%, 10%);
$color-secondary: hsl(223, 89%, 68%);
$color-header: hsl(60, 28%, 92%);
$color-pale: hsl(227, 100%, 98%);
$color-white: hsl(0, 0%, 100%);
$color-contrast: hsl(16, 100%, 66%);

$body-bg: hsl(60, 28%, 92%);

$font-family-base: 'Roboto', sans-serif;

$border-width: 2px;
$border-color: $color-secondary;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family-base;
  background-color: $color-pale;
  line-height: 1;
}
h4 {
  letter-spacing: 1px;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url('/img/coronavirus.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  .jumbo-text {
    color: $color-header;
  }
}
.navbar {
  background-color: $color-primary;
  .navbar-nav {
    a.nav-link {
      &:hover,
      &:focus,
      &:active {
        color: $color-contrast;
      }
    }
  }

  .btn-register {
    background-color: $color-secondary;
    color: $color-white;
    transition: filter 0.2s;
    &:hover,
    &:focus,
    &:active {
      color: $color-primary;
    }
  }
}
.modal-content {
  .modal-header {
    background-color: $color-secondary;
  }
  .modal-body {
    .form-group {
      .btn-register {
        background-color: $color-secondary;
        color: $color-white;
        transition: filter 0.2s;
        &:hover {
          filter: brightness(80%);
        }
      }
    }
  }
}
.main-container {
  form {
    #selectedCountry {
      font-size: 1.4rem;
    }
    #selectCountry {
      border: 2px solid $color-secondary;
    }
  }
  .stats-card {
    .card-header {
      background-color: $color-white;
    }
  }
  .table-card {
    max-height: 300px;
    overflow-y: scroll;
    table {
      tbody {
        tr {
          td {
            padding: 0.25rem;
          }
        }
      }
    }
  }
}

footer {
  background-color: $color-primary;
  color: $color-white;

  .lead {
    color: $color-white;
  }
  ul {
    li {
      padding-top: 10px;
      a {
        color: $color-white;
      }
    }
  }
}
