$color-primary: hsl(219, 100%, 10%);
$color-secondary: hsl(223, 89%, 68%);
$color-header: hsl(60, 28%, 92%);
$color-pale: hsl(227, 100%, 98%);
$color-white: hsl(0, 0%, 100%);

$body-bg: hsl(60, 28%, 92%);

$font-family-base: 'Roboto', sans-serif;

$border-width: 2px;
$border-color: $color-secondary;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family-base;
  background-color: $color-pale;
  line-height: 1;
}
h4 {
  letter-spacing: 1px;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url('/img/coronavirus.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  .jumbo-text {
    color: $color-header;
  }
}
.navbar {
  background-color: $color-primary;
}
.stats-card {
  border-top: 2px solid $color-secondary;
}
.table-card {
  max-height: 300px;
  overflow-y: scroll;
  table {
    tbody {
      tr {
        td {
          padding: 0.25rem;
        }
      }
    }
  }
}
