* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f7ff;
  line-height: 1; }

h4 {
  letter-spacing: 1px; }

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("/img/coronavirus.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; }
  .jumbotron .jumbo-text {
    color: #f0f0e5; }

.navbar {
  background-color: #001233; }

.stats-card {
  border-top: 2px solid #658ef6; }

.table-card {
  max-height: 300px;
  overflow-y: scroll; }
  .table-card table tbody tr td {
    padding: 0.25rem; }
